<div id = "banner">
    <h3>Contact Management</h3>
    <div id  = "bannerbuttons">
        <a class="btn btn-small btn-info" href="/">
        <i class="fa fa-list"></i> Index</a>

        <a class="btn btn-small btn-info" href="/add">
        <i class="fa fa-plus-square" aria-hidden="true"></i> New</a>
    </div>
</div>