body {
    margin: 0;
    padding: 0;
}

#banner h3 {
    margin: 0;
    padding-top:10px;
    color: white;
    display:inline-block;
    font-size: 20px;
}

#banner {
    height: 50px;
    width: 100%;
    background-color: blue;
    margin: 0;
    display:inline-block;
}

#bannerbuttons {
     display: inline;  
    margin-left: 200px;
}

.contactform {
    height: 300px;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
    margin: 25px 0px 0px 50px;
}

.graybar {
    width: 100%;
    height: 50px;
    background-color: lightgray;
}

.contactfields {
    margin-left: 15px;
}

#submit {
    color: white;
    background-color: seagreen;
    margin-left: 510px;
    border-radius: 5px;
}

.inputfield {
    width: 575px;
}

#detailsform {
    height: 220px;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
    margin: 25px 0px 0px 50px;
}

#detailsform strong {
    background-color: blue;
    color: white;
}


table {
    width: 800px;
    margin-left: 80px;
}

tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}

#blue{
    background-color: white;
    border: 2px solid blue;
    color: blue;
}

#yellow{
    background-color: white;
    border: 2px solid orange;
    color: orange;
}

#red{
    background-color: white;
    border: 2px solid red;
    color: red;
}

#deletedetail {
    background-color: white;
    border: 2px solid red;
    color: red;
    margin-left: 520px;

}

#editdetail {
    background-color: white;
    border: 2px solid orange;
    color: orange;
    margin-left: 520px;
}
